/* Canva font faces - Using actual working Canva font URLs */
@font-face {
    font-family: 'Canva Sans';
    src: url('https://static.canva.com/web/images/b46630e470f4040eba7033cf2435edce.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

/* Additional Canva Font URLs */
@font-face {
    font-family: 'Canva Sans Extra';
    src: url('https://static.canva.com/web/images/cff149ee1e9d2be50ac77bcd86769d05.woff2') format('woff2');
}

@font-face {
    font-family: 'HelloFont ChuYuan 65';
    src: url('https://font-public.canva.com/YAGhlAYFTZ0/0/HelloFont_ID_ChuYuan_65.d28853f79714c84d.8860208c-0b8f-4ef2-b630-3640de033c23.woff2') format('woff2');
}

@font-face {
    font-family: 'HelloFont CangLan';
    src: url('https://font-public.canva.com/YAGDT67TxTc/0/HelloFont_ID_CangLan.325fed51269cde09975.45c8cee5-09bd-4d43-b688-fd892718c2c6.woff2') format('woff2');
}

@font-face {
    font-family: 'Bold Regular';
    src: url('https://font-public.canva.com/YADLvZSPqp0/0/bold-regular15630572701012638816.f3c622c60968584f9701ce597aa43bdd.woff2') format('woff2');
}

@font-face {
    font-family: 'HGSSOeiio';
    src: url('https://font-public.canva.com/YAGLZyIpZ_E/0/hgssoeiiorishotai.d0879d9e4c836fa6127f92.68145ea5-a2bb-4735-b318-d94cabae5468.woff2') format('woff2');
}

@font-face {
    font-family: 'Regular 12558';
    src: url('https://font-public.canva.com/YADLvZJ2vVw/0/regular12558877269481388539.0f42b3feecca5dd28d6972fbd1ab78f7.woff2') format('woff2');
}

@font-face {
    font-family: 'Heavy Regular';
    src: url('https://font-public.canva.com/YADLvcsl_vY/0/heavy-regular6635533839421649640.b6eb033d439c6ddafd9f04ff8d658799.woff2') format('woff2');
}

@font-face {
    font-family: 'MaShanZheng';
    src: url('https://font-public.canva.com/YAD1b3yES34/0/MaShanZheng-Regular.bab6ac24df53ff1f8a3d.4942dde064c33c2cb5bc6fb9f11858d7.woff2') format('woff2');
}

@font-face {
    font-family: 'HelloFont 03c668';
    src: url('https://font-public.canva.com/YAGhlGvtq3M/0/03c66804-79e4-423c-a886-5399d1e10cf71827.daa67914-3f81-46a4-8716-456381f6429c.woff2') format('woff2');
}

@font-face {
    font-family: 'HelloFont c29980';
    src: url('https://font-public.canva.com/YAGhlD7xYcE/0/c2998041-5b0d-46b4-a461-9274d8ded14e6931.6bdb230a-148d-4967-acb4-589861091bec.woff2') format('woff2');
}

@font-face {
    font-family: 'Regular 2675';
    src: url('https://font-public.canva.com/YADLvf6ctXA/0/regular2675224844383880860.a558a374317ef7e91717f575392580f2.woff2') format('woff2');
}

@font-face {
    font-family: 'HelloFont MoQu';
    src: url('https://font-public.canva.com/YAF9OJxjJa8/0/HelloFont_ID_MoQu.95780b9856dd5c89ac76e2.09af6d21-7080-46a6-acaa-0424a98299ec.woff2') format('woff2');
}

@font-face {
    font-family: 'HelloFont 7266ba';
    src: url('https://font-public.canva.com/YAGhlD7xYcE/0/7266ba1a-2b5e-4763-a7d6-b2d41eecba766755.b45bdd5b-362c-416e-ba3d-97cbadf05282.woff2') format('woff2');
}

@font-face {
    font-family: 'Font FB 17';
    src: url('https://font-public.canva.com/_fb/0/17.woff2') format('woff2');
}

@font-face {
    font-family: 'HelloFont ChuYuan 25';
    src: url('https://font-public.canva.com/YAGhlAYFTZ0/0/HelloFont_ID_ChuYuan_25.e491e60eae14ca6b.93e2bacc-6583-4ebb-b252-7fcf364a8372.woff2') format('woff2');
}

@font-face {
    font-family: 'HelloFont ef0965';
    src: url('https://font-public.canva.com/YAGhlNolV8g/0/ef0965a9-7f95-4f4b-90d8-bb24708f22551194.f1a8a1e4-8875-4ce9-8045-98a1f0afd5c0.woff2') format('woff2');
}

@font-face {
    font-family: 'HelloFont ChuYuan 75';
    src: url('https://font-public.canva.com/YAGhlAYFTZ0/0/HelloFont_ID_ChuYuan_75.f8679beb1fa8a6ec.cef409bb-1b16-4f89-a5b2-ed5e714b064a.woff2') format('woff2');
}

@font-face {
    font-family: 'HelloFont FangZhuan 35';
    src: url('https://font-public.canva.com/YAGhlNolV8g/0/HelloFont_ID_FangZhuan_35891946886624030.fc6975cc-90a6-4b17-b220-3550b0fca454.woff2') format('woff2');
}

@font-face {
    font-family: 'HelloFont LieHei 65';
    src: url('https://font-public.canva.com/YAGhlD7xYcE/0/HelloFont_ID_LieHei_65104692860393527663.8e7f6316-8826-4143-a96b-7eb846e5975a.woff2') format('woff2');
}

@font-face {
    font-family: 'HelloFont FangZhuan 45';
    src: url('https://font-public.canva.com/YAGhlNolV8g/0/HelloFont_ID_FangZhuan_45172510323534539.ee0cf32c-3189-4981-981b-c251fb01ed69.woff2') format('woff2');
}

@font-face {
    font-family: 'HelloFont LieHei 45';
    src: url('https://font-public.canva.com/YAGhlD7xYcE/0/HelloFont_ID_LieHei_45942289626916416464.b165f523-3c23-4289-935c-a7bbad8c5c56.woff2') format('woff2');
}

@font-face {
    font-family: 'LongCang';
    src: url('https://font-public.canva.com/YAD1bzoN9BU/0/LongCang-Regular.1fd7ba52cd10f52cd6fde48.e47acc18e326662d9e9c41cfbf952d89.woff2') format('woff2');
}

@font-face {
    font-family: 'HelloFont ChuYuan 45';
    src: url('https://font-public.canva.com/YAGhlAYFTZ0/0/HelloFont_ID_ChuYuan_45.73adf85b72d76d2e.b58d8f68-8f04-49ef-85a3-7a851c2dad5a.woff2') format('woff2');
}

@font-face {
    font-family: 'HelloFont LingLong';
    src: url('https://font-public.canva.com/YAGDUI7Jzgg/0/HelloFont_ID_LingLong.0588339f38e93d666b.0bb5dfce-41dd-4e66-af06-b41f68dc1f30.woff2') format('woff2');
}

@font-face {
    font-family: 'IwaTxt Eb';
    src: url('https://font-public.canva.com/YAGLZ0QzLYI/0/IwaTxtStd-Eb.ba5e7e2b405a22d303df53c3307.e0dcb5a3-4ac4-4c5f-b13e-82ab43f8c16b.woff2') format('woff2');
}

@font-face {
    font-family: 'SourceHanSerif SC';
    src: url('https://font-public.canva.com/YAFmnGiJgeQ/0/SourceHanSerifSC-Regular.fed1b1c9635f197.4f439122d4a3547049abc370fb2e94d8.woff2') format('woff2');
}

@font-face {
    font-family: 'HelloFont ChuYuan 85';
    src: url('https://font-public.canva.com/YAGhlAYFTZ0/0/HelloFont_ID_ChuYuan_85.de21708a20bb16ae.307714f3-9152-45c4-ac8b-b4b263673535.woff2') format('woff2');
}

@font-face {
    font-family: 'HelloFont LieHei 35';
    src: url('https://font-public.canva.com/YAGhlD7xYcE/0/HelloFont_ID_LieHei_35728599512130082210.ce7b2698-b949-4499-9ec0-cca18cd3d022.woff2') format('woff2');
}

@font-face {
    font-family: 'ZCOOLXiaoWei';
    src: url('https://font-public.canva.com/YAD1b1xytFY/0/ZCOOLXiaoWei-Regular.736bd82c7f113744a3c.64a366034826abbc9374cfe4e826a70c.woff2') format('woff2');
}

@font-face {
    font-family: 'HelloFont FangZhuan 65';
    src: url('https://font-public.canva.com/YAGhlNolV8g/0/HelloFont_ID_FangZhuan_65517312096382512.f427038d-543f-4473-82a9-60add5002a2b.woff2') format('woff2');
}

@font-face {
    font-family: 'IwaTxt Lt';
    src: url('https://font-public.canva.com/YAGLZ0QzLYI/0/IwaTxtStd-Lt.1b4b25cde4cf5e5a90f7f5f9dbb.2a619785-eb37-4d09-9f39-185a9b96188e.woff2') format('woff2');
}

@font-face {
    font-family: 'HelloFont f129fa';
    src: url('https://font-public.canva.com/YAGhlNolV8g/0/f129fad3-cb5d-491e-a17d-1bc572b71f482392.58c9fe95-bab4-4df3-b543-7e28e3fab398.woff2') format('woff2');
}

@font-face {
    font-family: 'IwaTxt Db';
    src: url('https://font-public.canva.com/YAGLZ0QzLYI/0/IwaTxtStd-Db.352359115245dcd4a2ef91feeea.af1507c4-714e-430c-a88a-e8cc57bc4cb4.woff2') format('woff2');
}

@font-face {
    font-family: 'HelloFont 1613e0';
    src: url('https://font-public.canva.com/YAGhlD7xYcE/0/1613e087-a330-432e-ad48-3003177ea7776053.94e859d4-8256-446b-a565-60516fe5db41.woff2') format('woff2');
}

@font-face {
    font-family: 'HelloFont 3a7ef8';
    src: url('https://font-public.canva.com/YAGhlNolV8g/0/3a7ef83f-e62a-44e8-b79d-25c15c7bd7b04538.f464485b-1ec3-47a2-ac3d-e9a5d5da6866.woff2') format('woff2');
}

@font-face {
    font-family: 'LiuJianMaoCao';
    src: url('https://font-public.canva.com/YAD1b_AjRlU/0/LiuJianMaoCao-Regular.9f30fff3ca85a3519f.f4571486ccdbebbae104b040e62fd926.woff2') format('woff2');
}

@font-face {
    font-family: 'ZhiMangXing';
    src: url('https://font-public.canva.com/YAD1b7zC5P4/0/ZhiMangXing-Regular.1eca1f78977b2bb31148.2c61ca51af290ecbed2d329a7edb2caa.woff2') format('woff2');
}

@font-face {
    font-family: 'IwaTxt Bd';
    src: url('https://font-public.canva.com/YAGLZ0QzLYI/0/IwaTxtStd-Bd.3a45e0741a4c7bfb070b7f65ee1.c59b826d-894c-4be3-98f1-34253d540579.woff2') format('woff2');
}

@font-face {
    font-family: 'HelloFont ChuYuan 35';
    src: url('https://font-public.canva.com/YAGhlAYFTZ0/0/HelloFont_ID_ChuYuan_35.818ecde710ce9bd4.ca38fd6a-b5b2-42e2-924c-b9ea42dc49b6.woff2') format('woff2');
}

@font-face {
    font-family: 'HelloFont ChuYuan 55';
    src: url('https://font-public.canva.com/YAGhlAYFTZ0/0/HelloFont_ID_ChuYuan_55.91891af82b71134e.c8125df0-38e9-49cb-838e-6ca4371825a4.woff2') format('woff2');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(135deg, #7B3FF2 0%, #00C4CC 100%);
    font-family: 'Canva Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

.canvas-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* Font classes - used by text elements on canvas */
.font-canva-sans { font-family: 'Canva Sans', sans-serif; }
.font-canva-extra { font-family: 'Canva Sans Extra', sans-serif; }
.font-chuyuan-65 { font-family: 'HelloFont ChuYuan 65', sans-serif; }
.font-canglan { font-family: 'HelloFont CangLan', sans-serif; }
.font-bold-regular { font-family: 'Bold Regular', sans-serif; }
.font-hgssoe { font-family: 'HGSSOeiio', sans-serif; }
.font-regular-12558 { font-family: 'Regular 12558', sans-serif; }
.font-heavy-regular { font-family: 'Heavy Regular', sans-serif; }
.font-mashanzheng { font-family: 'MaShanZheng', sans-serif; }
.font-hello-03c668 { font-family: 'HelloFont 03c668', sans-serif; }
.font-hello-c29980 { font-family: 'HelloFont c29980', sans-serif; }
.font-regular-2675 { font-family: 'Regular 2675', sans-serif; }
.font-moqu { font-family: 'HelloFont MoQu', sans-serif; }
.font-hello-7266ba { font-family: 'HelloFont 7266ba', sans-serif; }
.font-fb-17 { font-family: 'Font FB 17', sans-serif; }
.font-chuyuan-25 { font-family: 'HelloFont ChuYuan 25', sans-serif; }
.font-hello-ef0965 { font-family: 'HelloFont ef0965', sans-serif; }
.font-chuyuan-75 { font-family: 'HelloFont ChuYuan 75', sans-serif; }
.font-fangzhuan-35 { font-family: 'HelloFont FangZhuan 35', sans-serif; }
.font-liehei-65 { font-family: 'HelloFont LieHei 65', sans-serif; }
.font-fangzhuan-45 { font-family: 'HelloFont FangZhuan 45', sans-serif; }
.font-liehei-45 { font-family: 'HelloFont LieHei 45', sans-serif; }
.font-longcang { font-family: 'LongCang', sans-serif; }
.font-chuyuan-45 { font-family: 'HelloFont ChuYuan 45', sans-serif; }
.font-linglong { font-family: 'HelloFont LingLong', sans-serif; }
.font-iwatxt-eb { font-family: 'IwaTxt Eb', sans-serif; }
.font-sourcehan { font-family: 'SourceHanSerif SC', sans-serif; }
.font-chuyuan-85 { font-family: 'HelloFont ChuYuan 85', sans-serif; }
.font-liehei-35 { font-family: 'HelloFont LieHei 35', sans-serif; }
.font-zcool { font-family: 'ZCOOLXiaoWei', sans-serif; }
.font-fangzhuan-65 { font-family: 'HelloFont FangZhuan 65', sans-serif; }
.font-iwatxt-lt { font-family: 'IwaTxt Lt', sans-serif; }
.font-hello-f129fa { font-family: 'HelloFont f129fa', sans-serif; }
.font-iwatxt-db { font-family: 'IwaTxt Db', sans-serif; }
.font-hello-1613e0 { font-family: 'HelloFont 1613e0', sans-serif; }
.font-hello-3a7ef8 { font-family: 'HelloFont 3a7ef8', sans-serif; }
.font-liujian { font-family: 'LiuJianMaoCao', sans-serif; }
.font-zhimang { font-family: 'ZhiMangXing', sans-serif; }
.font-iwatxt-bd { font-family: 'IwaTxt Bd', sans-serif; }
.font-chuyuan-35 { font-family: 'HelloFont ChuYuan 35', sans-serif; }
.font-chuyuan-55 { font-family: 'HelloFont ChuYuan 55', sans-serif; }

/* Design Canvas Styles */
.design-canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: white;
    overflow: hidden;
}

.canvas-element {
    position: absolute;
    transition: transform 0.3s ease;
    cursor: move;
    user-select: none;
}

.canvas-element:hover {
    transform: scale(1.02);
    z-index: 100;
}

.canvas-image {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.canvas-text {
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    white-space: nowrap;
    backdrop-filter: blur(5px);
}

.memory-indicator {
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #00C4CC;
    border-radius: 50%;
    animation: pulse 2s infinite;
    margin-right: 8px;
}

@keyframes pulse {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.3; }
}

.control-panel {
    position: fixed;
    top: 20px;
    right: 20px;
    background: rgba(255, 255, 255, 0.95);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    z-index: 1001;
    min-width: 280px;
    max-width: 320px;
}

.control-section {
    padding: 15px 0;
    border-bottom: 1px solid #e0e0e0;
}

.control-section:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.control-section:first-child {
    padding-top: 0;
}

.control-section h3 {
    margin: 0 0 12px 0;
    font-family: 'Canva Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #333;
}

.sw-status {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    padding: 10px;
    background: #f8f9fa;
    border-radius: 8px;
    font-size: 12px;
}

.status-indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
}

.status-indicator.active {
    background: #00C4CC;
    animation: pulse 2s infinite;
}

.status-indicator.inactive {
    background: #999;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #7B3FF2;
}

input:checked + .slider:before {
    transform: translateX(30px);
}

.sw-toggle-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sw-toggle-label {
    font-size: 13px;
    font-weight: 600;
    color: #333;
}

.sw-selector {
    margin-top: 12px;
}

.sw-selector label {
    display: block;
    font-size: 12px;
    font-weight: 600;
    color: #666;
    margin-bottom: 6px;
}

.sw-selector select {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    background: white;
    font-size: 13px;
    color: #333;
    cursor: pointer;
    font-family: 'Canva Sans', sans-serif;
}

.sw-selector select:focus {
    outline: none;
    border-color: #7B3FF2;
}

.element-count-display {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    color: #7B3FF2;
    margin: 12px 0;
    font-family: 'Canva Sans', sans-serif;
}

.element-buttons {
    display: flex;
    gap: 10px;
    margin-top: 12px;
}

.element-btn {
    flex: 1;
    padding: 10px 16px;
    background: #7B3FF2;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.2s;
}

.element-btn:hover {
    background: #6330c8;
    transform: translateY(-2px);
}

.element-btn:active {
    transform: translateY(0);
}

.element-btn.decrease {
    background: #ff4757;
}

.element-btn.decrease:hover {
    background: #e84118;
}

.element-info {
    font-size: 12px;
    color: #666;
    text-align: center;
    margin-top: 8px;
}

.canvas-stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #f8f9fa;
    border-radius: 8px;
    font-size: 12px;
}

.canvas-stats .stat-item {
    display: flex;
    align-items: center;
}

.canvas-stats .stat-value {
    font-weight: 700;
    color: #7B3FF2;
    margin-left: 5px;
}

.quick-actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    margin-top: 12px;
}

.action-btn {
    padding: 10px 16px;
    background: #00C4CC;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 13px;
    cursor: pointer;
    transition: all 0.2s;
}

.action-btn:hover {
    background: #00a8b5;
    transform: translateY(-2px);
}

.action-btn:active {
    transform: translateY(0);
}

.action-btn.add {
    background: #00C4CC;
}

.action-btn.add:hover {
    background: #00a8b5;
}