<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compressed-paths</key>
	<array>
		<string>run7/core/uniquing</string>
		<string>run7/core/uniquing</string>
		<string>run7/core/uniquing</string>
		<string>run12/core/stores/indexed-store-10</string>
		<string>run6/core/table-manager</string>
		<string>run7/core/table-manager</string>
		<string>run7/core/stores/indexed-store-10</string>
		<string>run13/core/uniquing</string>
		<string>run13/core/uniquing</string>
		<string>run13/core/uniquing</string>
		<string>currentRun/core/stores/indexed-store-1</string>
		<string>currentRun/core/stores/indexed-store-10</string>
		<string>run13/core/stores/indexed-store-10</string>
		<string>currentRun/core/stores/indexed-store-5</string>
		<string>currentRun/core/stores/indexed-store-12</string>
		<string>run12/core/stores/indexed-store-0</string>
		<string>run12/core/stores/indexed-store-1</string>
		<string>run12/core/stores/indexed-store-2</string>
		<string>run6/core/core-config</string>
		<string>run12/core/stores/indexed-store-3</string>
		<string>run12/core/stores/indexed-store-4</string>
		<string>currentRun/core/uniquing</string>
		<string>currentRun/core/uniquing</string>
		<string>currentRun/core/uniquing</string>
		<string>run12/core/stores/indexed-store-5</string>
		<string>run12/core/stores/indexed-store-6</string>
		<string>run12/core/stores/indexed-store-7</string>
		<string>run12/core/stores/indexed-store-8</string>
		<string>currentRun/core/stores/indexed-store-26</string>
		<string>run12/core/table-manager</string>
		<string>currentRun/core/stores/indexed-store-28</string>
		<string>run12/core/stores/indexed-store-9</string>
		<string>currentRun/core/stores/indexed-store-2</string>
		<string>run13/core/stores/indexed-store-0</string>
		<string>run13/core/stores/indexed-store-1</string>
		<string>currentRun/core/stores/indexed-store-6</string>
		<string>run13/core/stores/indexed-store-2</string>
		<string>run13/core/stores/indexed-store-3</string>
		<string>run13/core/core-config</string>
		<string>run7/core/core-config</string>
		<string>run13/core/stores/indexed-store-4</string>
		<string>run13/core/stores/indexed-store-5</string>
		<string>run13/core/stores/indexed-store-6</string>
		<string>run13/core/stores/indexed-store-7</string>
		<string>run7/core/stores/indexed-store-0</string>
		<string>run7/core/stores/indexed-store-1</string>
		<string>run7/core/stores/indexed-store-2</string>
		<string>run13/core/stores/indexed-store-8</string>
		<string>run7/core/stores/indexed-store-3</string>
		<string>run13/core/stores/indexed-store-9</string>
		<string>run7/core/stores/indexed-store-4</string>
		<string>run7/core/stores/indexed-store-5</string>
		<string>run7/core/stores/indexed-store-6</string>
		<string>run7/core/stores/indexed-store-7</string>
		<string>run7/core/stores/indexed-store-8</string>
		<string>run7/core/stores/indexed-store-9</string>
		<string>currentRun/core/stores/indexed-store-11</string>
		<string>currentRun/core/stores/indexed-store-7</string>
		<string>run12/core/uniquing</string>
		<string>run12/core/uniquing</string>
		<string>run12/core/uniquing</string>
		<string>run12/core/core-config</string>
		<string>run6/core/stores/indexed-store-10</string>
		<string>run6/core/uniquing</string>
		<string>run6/core/uniquing</string>
		<string>run6/core/uniquing</string>
		<string>run13/core/table-manager</string>
		<string>currentRun/core/stores/indexed-store-27</string>
		<string>run6/core/stores/indexed-store-0</string>
		<string>run6/core/stores/indexed-store-1</string>
		<string>run6/core/stores/indexed-store-2</string>
		<string>currentRun/core/stores/indexed-store-29</string>
		<string>run6/core/stores/indexed-store-3</string>
		<string>run6/core/stores/indexed-store-4</string>
		<string>currentRun/core/stores/indexed-store-0</string>
		<string>run6/core/stores/indexed-store-5</string>
		<string>run6/core/stores/indexed-store-6</string>
		<string>run6/core/stores/indexed-store-7</string>
		<string>run6/core/stores/indexed-store-8</string>
		<string>run6/core/stores/indexed-store-9</string>
		<string>currentRun/core/stores/indexed-store-4</string>
	</array>
	<key>paths</key>
	<array>
		<string>run7/core/uniquing</string>
		<string>run12/core/stores/indexed-store-10</string>
		<string>run6/core/table-manager</string>
		<string>run7/core/table-manager</string>
		<string>run7/core/stores/indexed-store-10</string>
		<string>run13/core/uniquing</string>
		<string>currentRun/core/stores/indexed-store-1</string>
		<string>currentRun/core/stores/indexed-store-10</string>
		<string>run13/core/stores/indexed-store-10</string>
		<string>currentRun/core/stores/indexed-store-5</string>
		<string>currentRun/core/stores/indexed-store-12</string>
		<string>run12/core/stores/indexed-store-0</string>
		<string>run12/core/stores/indexed-store-1</string>
		<string>run12/core/stores/indexed-store-2</string>
		<string>run6/core/core-config</string>
		<string>run12/core/stores/indexed-store-3</string>
		<string>run12/core/stores/indexed-store-4</string>
		<string>currentRun/core/uniquing</string>
		<string>run12/core/stores/indexed-store-5</string>
		<string>run12/core/stores/indexed-store-6</string>
		<string>run12/core/stores/indexed-store-7</string>
		<string>run12/core/stores/indexed-store-8</string>
		<string>currentRun/core/stores/indexed-store-26</string>
		<string>run12/core/table-manager</string>
		<string>currentRun/core/stores/indexed-store-28</string>
		<string>run12/core/stores/indexed-store-9</string>
		<string>currentRun/core/stores/indexed-store-2</string>
		<string>run13/core/stores/indexed-store-0</string>
		<string>run13/core/stores/indexed-store-1</string>
		<string>currentRun/core/stores/indexed-store-6</string>
		<string>run13/core/stores/indexed-store-2</string>
		<string>run13/core/stores/indexed-store-3</string>
		<string>run13/core/core-config</string>
		<string>run7/core/core-config</string>
		<string>run13/core/stores/indexed-store-4</string>
		<string>run13/core/stores/indexed-store-5</string>
		<string>run13/core/stores/indexed-store-6</string>
		<string>run13/core/stores/indexed-store-7</string>
		<string>run7/core/stores/indexed-store-0</string>
		<string>run7/core/stores/indexed-store-1</string>
		<string>run7/core/stores/indexed-store-2</string>
		<string>run13/core/stores/indexed-store-8</string>
		<string>run7/core/stores/indexed-store-3</string>
		<string>run13/core/stores/indexed-store-9</string>
		<string>run7/core/stores/indexed-store-4</string>
		<string>run7/core/stores/indexed-store-5</string>
		<string>run7/core/stores/indexed-store-6</string>
		<string>run7/core/stores/indexed-store-7</string>
		<string>run7/core/stores/indexed-store-8</string>
		<string>run7/core/stores/indexed-store-9</string>
		<string>currentRun/core/stores/indexed-store-11</string>
		<string>currentRun/core/stores/indexed-store-7</string>
		<string>run12/core/uniquing</string>
		<string>run12/core/core-config</string>
		<string>run6/core/stores/indexed-store-10</string>
		<string>run6/core/uniquing</string>
		<string>run13/core/table-manager</string>
		<string>currentRun/core/stores/indexed-store-27</string>
		<string>run6/core/stores/indexed-store-0</string>
		<string>run6/core/stores/indexed-store-1</string>
		<string>run6/core/stores/indexed-store-2</string>
		<string>currentRun/core/stores/indexed-store-29</string>
		<string>run6/core/stores/indexed-store-3</string>
		<string>run6/core/stores/indexed-store-4</string>
		<string>currentRun/core/stores/indexed-store-0</string>
		<string>run6/core/stores/indexed-store-5</string>
		<string>run6/core/stores/indexed-store-6</string>
		<string>run6/core/stores/indexed-store-7</string>
		<string>run6/core/stores/indexed-store-8</string>
		<string>run6/core/stores/indexed-store-9</string>
		<string>currentRun/core/stores/indexed-store-4</string>
	</array>
</dict>
</plist>
